@font-face {
	font-family: "Guardians";
	src: url(../fonts/Guardians.ttf) format("truetype");
}

body {
	font-family: Guardians;
}

a {
	font-size: 1em;
	margin-bottom: .5em;
}

canvas {
	background: url(../images/background.jpg)
}
