a.credits {
	float: right;
	margin-right: 5%;
	text-align: left !important;
	font-family: 'Metal Mania', cursive;
}	

a.project {
	margin-left: 5%;
	font-size: 1.2em;
	text-align: left !important;
	font-family: 'Metal Mania', cursive;
}

canvas {
	display: block;
	margin: auto auto;
}

@font-face {
  font-family: "SomethingStrange";
  src: url(Something_Strange.ttf) format("truetype");
}